

/* <!--=====================================Hero Section Start========================= --> */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
}
button a{
 color: #fff;
 font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
}

.hero-section{
 background: url(images/donation1.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 height: 650px;
 width: 100%;
 margin-bottom: 50px;
 /* opacity: 0.9; */
}
.hero-head{
 color: #fff;
 font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 70px;
text-align: center;
}

.hero-pragraph{
font-family: 'Poppins';
color: #fff;
margin-top: 40px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;
}

.hero-text{
   width:90% ;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align:center;
   margin-top: 100px;
}
.hero-btn-items{
 background: #FF5959;
 width: 160px;
 height: 56px;
 border: none;
 padding: 16px 12px;
 border-radius: 8px;
 margin-top: 30px;
 cursor: pointer;
}
/* <!--===========================Donate  Section End========================= --> */


/* <!-- ============================Donate-Today-Section Start============================== --> */
.donate-today-section{
 width: 90%;
 margin: 0px auto;

}
.donate-title{
 text-align: center;
 margin: 0px auto;
 padding: 30px 0px 30px;
}
.donate-title h1{
 font-family: 'Inter';
 font-style: normal;
 font-weight: 800;
 font-size: 40px;
 line-height: 54px;
 text-align: center;
}
.donate-title p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
text-align: center;
color: #707070;
}

.donate-amount-content{
 display: flex;
 padding: 30px 0px 30px;
 justify-content: center;
}

.donate-amount-content ul li{
 display: inline-block;
 line-height: 80px;
 margin-left: 50px;
}

.donate-amount-content ul li a{
 padding: 40px 30px;
 border-radius: 2px;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 700;
 font-size: 30px;
 line-height: 36px;
 text-align: center;
background: #FAFAFA;
border-radius: 5px;

}
.donet-amount.active, .donet-amount:hover{
 background:#FFEEEE ;
 border: 2px solid #FF5959;
}

.total-donate{
  margin-top: 50px;
  text-align: center;
}
.input-box{
 border: none;
 margin-bottom: 12px;
 font-family: 'Poppins';
}
input:focus{
 outline: none;
}

hr{
 border: 0.1px solid #DADADe;
 width: 765px;
 height: 0px;
 margin: 0px auto;
 justify-content: center;
}
/* <!-- ============================Donate-Today-Section End============================== --> */

/* <!-- ============================Donate-Card-Section Start============================== --> */
.donate-title{
 font-size: 45px;
 text-align: center;
 font-family: 'Poppins', sans-serif;
}

.donate-card-section{
 display: flex;
 padding: 4%;
 margin: 0px auto;
 justify-content: center;
}

.donate-card{
 background-color: #b1d6e0;
 width: 340px;
 height: 330px;
 padding: 25px;
 /* align-items: center; */
 margin-left: 30px;
 font-family: 'Poppins', sans-serif;
 background: rgba(79, 157, 166, 0.1);
 border-radius: 5px;
 cursor: pointer;
 transition: transform 0.5s;
}

.donate-card img{
  width: 58px;
  height: 50px;
  margin-top: 40px;
}
.donate-card h3{
 margin: 10px 0px;
}

#card-color1{
 background-color: #eecee7;
}

#card-color2{
  background-color: #fff4d6;
}
/* <!-- ============================Donate-Card-Section End============================== --> */


/* =======================================Donate Blog Section Start Here */
.donate-blog-items{
  display: flex;
  padding: 5%;
  align-items: center;
}

.blog-stuff{
  width: 50%;
  padding:2% 5%;
}

.develop-stuff img{
  width: 430px;
  height: 420px;
 padding: 2%;
}


.dev-content-items h2{
  font-size: 35px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.dev-content-items a{
  margin-top:50px;
}

.dev-content-items p{
  font-size: 15px;
  text-align: justify;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.contact-secton {
 margin: 100px auto;
 width: 80%;
 background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))
 ,url(./images/banner2.jpg);
 background-position: center;
 background-size: cover;
 border-radius: 10px;
 text-align: center;
 padding: 100px 0;
}

.contact-secton h1{
 color: #fff;
 font-family: 'Poppins', sans-serif;
 margin-bottom: 40px;
 padding: 0;
 font-size: 36px;
 font-weight: 600;
}

.contribute-btn{
 background: #FF5959;
 width: 200px;
 height: 56px;
 border: none;
 padding: 16px 12px;
 border-radius: 8px;
 cursor: pointer;
}
/* =======================================Donate Blog Section Start Here */


/* ======================================Subscribe Section Start Here */

.subscribe-section{
 justify-content: center;
}
.subscribe {
 background: #FFF4D6;
	display: flex;
 width: 70%;
 padding: 2%;
	height: 200px;
	border-radius: 10px;
margin-left: 200px;
margin-right: 250px;
align-items: center;
}
.form{
  margin-left: 80px;
}

.form__email {
	padding: 20px 25px;
	border-radius: 5px;
 	border: 1px solid #CAD3DB;
	width: 431px;
	font-size: 18px;
	color: #0F121F;
}

.form__email:focus {
	outline: 1px solid #3D9FFF;
}

.form__button {
	background:#FF5959;
	padding: 10px;
	border: none;
	width: 244px;
	height: 65px;
	border-radius: 5px;
	font-size: 18px;
	color: white;
 text-align: center;
 cursor: pointer;
}

.subscribe-section{
 margin-bottom: -0px;
}

/* ======================================Subscribe Section Start End */

/* ======================================Fotter Section Start */
.footer-content h2 span{
 font-family: 'Poppins', sans-serif;
font-weight: 600;
font-size: 36px;
line-height: 44px;
letter-spacing: 0.5px;
color: #FF5959;

}
.footer-content{
 background: #0B0D17;
 color: white;
 text-align: center;
 padding: 5%;
 margin-top: 100px;
}
/* ======================================Fotter Section Start End */